<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.himakeit.skylarkdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/skylark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/skylark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentproviderdemo.DBSQLProvider"
            android:authorities="online.himakeit.skylarkdemo.provider"
            android:exported="true" />

        <activity
            android:name=".immersion_status_bar.ImmersionNormalActivity"
            android:label="@string/title_activity_immersion_normal"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".immersion_status_bar.ImmersionPicActivity"
            android:label="@string/title_activity_immersion_pic"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".immersion_status_bar.ImmersionNavActivity"
            android:label="@string/title_activity_immersion_nav"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".immersion_status_bar.ImmersionActionBarActivity"
            android:label="@string/title_activity_immersion_action_bar"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".searchdemo.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask" />
        <activity
            android:name=".sqlitedemo.SQLiteActivity"
            android:label="@string/title_activity_sqlite"
            android:launchMode="singleTask" />
        <activity
            android:name=".shapedemo.ShapeActivity"
            android:label="@string/title_activity_shape"
            android:launchMode="singleTask" />
        <activity
            android:name=".immersion_status_bar.MainImmersionActivity"
            android:label="@string/title_activity_immersion"
            android:launchMode="singleTask" />
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTask" />
        <activity
            android:name=".about.WebActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".test.TestActivity"
            android:label="Test"
            android:launchMode="singleTask" />
        <activity
            android:name=".motionevent.ActionUpActivity"
            android:label="@string/title_activity_actionup"
            android:launchMode="singleTask" />
        <activity
            android:name=".github.GitHubRevealTextActivity"
            android:label="@string/title_activity_github_revealtextview"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".github.GitHubActivity"
            android:label="GitHub系列"
            android:launchMode="singleTask" />
        <!--
            <activity
            android:name=".vlcsample.VlcSampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="LibVLCJavaSample"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme" />
        -->
        <activity
            android:name=".launchmode.StandardModeActivity"
            android:label="StandardMode"
            android:launchMode="standard" />
        <activity
            android:name=".launchmode.SingleTopModeActivity"
            android:label="SingleTopMode"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmode.SingleTaskModeActivity"
            android:label="SingleTaskMode"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmode.SingleInstanceModeActivity"
            android:label="SingleInstanceMode"
            android:launchMode="singleInstance" />
        <activity
            android:name=".hooligan.HooliganActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/HooliganActivityStyle" />
        <activity
            android:name=".surfaceview.SurfaceViewActivity"
            android:label="SurfaceView"
            android:launchMode="singleTask" />
        <activity
            android:name=".spannablestring.SpannableStringActivity"
            android:label="SpannableString" />
        <activity android:name=".handler.HandlerActivity"></activity>
    </application>

</manifest>